<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=600, initial-scale=1">
<link rel="stylesheet" href="../css/html-style.css">
<link rel="stylesheet" href="../css/style.css">

<div class="longTOC"><p align="center">
    <span align="right"><a href="dayXXX.html">Day XXX</a></span>
    <a href="../index.html"><img src = "../media/logo.png"></a>
    <span align="left"><a href="dayYYY.html">Day YYY</a></span>
</p><p><a href="#" class="tocTop">(Top)</a><br/>