<meta charset="utf-8" />
<link rel="stylesheet" href="../css/style.css" />

**Day XXX. ** 
_Video Length (including Q&A): [XhXX](https://hero.handmade.network/episode/code/dayXXX/)_ 

(insert intro.md.html here) 

------------------------
<!-- 
Useful captions
Caption under the listing: [Listing [x]: <file>[]</file> .]
Picture or gif: ![Figure [x]: .](../media/dayXXX/.jpg) 
Chart: [Figure [x]: .]
-->
------------------------






















# Recap 

# Exercises 

# Programming Notions 

# Side Considerations 

# Navigation 

Previous: [Day YYY. ][day YYY]

Up Next: [Day ZZZ. ][day ZZZ]

[Back to Index](../index.md.html)

(#) Glossary 

(insert glossary/glossary_dayXXX.md.html here)

(insert references/refs_dayXXX.md.html here) 

(insert links.md.html here)

<style class="fallback">
  body {
    visibility: hidden;
    font-family: sans-serif;
  }
</style>
<!-- Markdeep: https://casual-effects.com/markdeep/ -->
<script>
  markdeepOptions = { tocStyle: 'long' };
  window.alreadyProcessedMarkdeep ||
    (document.body.style.visibility = 'visible');
</script>
<script src="../js/markdeep.min.js" charset="utf-8"></script>
